<a href="https://colab.research.google.com/github/julieisok/OurFisrtML/blob/master/2_%EC%97%B0%EC%86%8D_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연속 데이터 타입

## 파이썬
- 리스트  : [], 순서(인데스)가 존재한다, 값 중복 ok
- 딕셔너리: {}, 순서 X, 키:값의 세트구성, 키는 중복X,값 중복 OK
- 튜플    : (), 순서(인데스)가 존재한다, 값 중복 ok, 
                수정/삭제불가, readonly, 단순히 값을 묶는다                 
                함수가 여러개의 값을 리턴할때 주로 사용
- 집합    : {}, 중복제거, 중간에 과정으로 많이 사용

## numpy
- 배열 : ndarray, [], 구성원간의 데이터 타입이 동일, 수학/과학용 연산(계산) 타입

## pandas
 - Series : 1차원 구조의 데이터, 구성원간의 데이터 타입이 동일
 - DataFrame : 2차원 구조의 데이터, 컬럼안의 구성원들의 데이터 타입은 동일 
 
## ml / dl
 - tensor : tensorflow, pyTorch에서 자료구조용어, 행렬을 대변, 타입은 동일 (정수 혹은 부동소수)

### 리스트

In [0]:
# 데이터가 여러개가 존재할 경우 처리 
# 리스트 
# []
# 순서(인덱스)가 존재한다
# 구성원 값 중복 OK. 타입이 달라도 OK. 차원이 달라도 OK.
# 목적: 값을 순서대로 모아두고 조작하기 위한 목적. 
# 생성
a = list() # 동적생성 => 멤버들을 나중에 추가할 때 뉘앙스가 더 맞다
# 파이썬의 연속 데이터 타입의 구성원의 수 -> len()
# numpy 이하는 shape으로 구한다 
a, type(a), len(a)

([], list, 0)

In [0]:
a = [] # 정적 생성 => 형태를 완성하면서 생성할 때 : 리스트 내포 등 표현 
a, type(a), len(a)

([], list, 0)

In [0]:
# 임시 구성
numbers = [1,3,5,7,9]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [0]:
# 추가 : append(자식으로 추가), extend(동급으로 추가)
numbers.append('11')
# 하위 자식으로 추가 : append()
# 멤버들의 타입이 달라도 OK 
numbers

[1, 3, 5, 7, 9, '11', '11']

In [0]:
a = [13,15]
# 리스트 더하기 => 이어붙이기 => + 를 사용하면 사본 작업 
numbers + a , numbers # 사본출력이라 원본이 변경되진 않음

([1, 3, 5, 7, 9, '11', '11', 13, 15], [1, 3, 5, 7, 9, '11', '11'])

In [0]:
# 리스트 더하기 : 원본 변경
numbers.extend(a)

In [0]:
numbers

[1, 3, 5, 7, 9, '11', '11', 13, 15]

In [0]:
numbers.append([17,19])

In [0]:
numbers

[1, 3, 5, 7, 9, '11', '11', 13, 15, [17, 19]]

In [0]:
# [17, 19] 삭제 => 리스트에서 구성원 하나를 특정한다 => 추출해라 => 인덱싱
numbers[-1]
del numbers[-1]
numbers

[1, 3, 5, 7, 9, '11', '11', 13]

In [0]:
# 리스트를 자르기 => 시작 인덱스 <= x < 끝인덱스 => 슬라이싱 
del numbers[4:4+2]
numbers

[1, 3, 5, 7, '11', 13]

In [0]:
# 리스트를 비운다
numbers.clear()
numbers

[]

In [0]:
#numbers.append('helloworld')
numbers = list('helloworld')
numbers

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [0]:

numbers[0]

'h'

In [0]:
numbers[0] = 1
numbers

[1, 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [0]:
# numbers[:2] = 1  
# 에러 발생. 연속형 값이 아니라서 슬라이싱 표현에 넣을수 없음
# 구간 수정은 iterator 형만 가능. 문자형 OK> 
numbers[:2] = 'hi'
numbers

['h', 'i', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

### 딕셔너리

In [0]:
# 정적인 구성, 생성할때 멤버가 추가되는 바익
dic = {}
dic, type(dic), len(dic)

({}, dict, 0)

In [0]:
exchanges = {
       'na':'미국', 
       'code':'USD',
       'buy':1165.10,
       'sell':1185.48
}
exchanges, type(exchanges), len(exchanges)

({'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}, dict, 4)

In [0]:
# 인덱싱 => 키를 넣어서 값을 취한다
exchanges[ 'na' ]

'미국'

In [0]:
# 원본 수정
exchanges[ 'na' ] = 'America'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [0]:
# 추가
# 딕셔너리는 순서가 없다. 즉, 인덱스도 없다. exchanges[1] 하면 1이라는 키값으로 값을 추가하거나, 접근하는 것임
exchanges[1] = 'USA'
exchanges

# 키로 올수 없는 타입은 함수 정도 이고, 
# 대부분의 자료구조는 키 자리로 올수 있다. 1 => 키이다

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'USA'}

In [0]:
# 전체삭제
exchanges.clear()
exchanges

{}

In [0]:
exchanges = {
      'na' : '미국', 
      'code' : 'USD', 
      'buy' : 1165.10, 
      'sell' : 1185.48
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [0]:
# keys()에서 정렬
exchanges.keys(), exchanges.values()

(dict_keys(['na', 'code', 'buy', 'sell']),
 dict_values(['미국', 'USD', 1165.1, 1185.48]))

In [0]:
# (키, 값) 그룹으로 묶어서 리스트로 리턴
exchanges.items()

dict_items([('na', '미국'), ('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48)])

In [0]:
# 임의라도 인덱스를 부여하고 싶다 
# enumerater() => 인덱스, 값
# 값이 ( , ) => 변수1, 변수2 받는다 (튜플 or 리스트 분해)

for i, (k,v) in enumerate(exchanges.items()) :
     print(i,k, v)

0 na 미국
1 code USD
2 buy 1165.1
3 sell 1185.48

In [0]:
for i, key in enumerate(exchanges.items()):
    print(i, type(key), key[0], key[1])

0 <class 'tuple'> na 미국
1 <class 'tuple'> code USD
2 <class 'tuple'> buy 1165.1
3 <class 'tuple'> sell 1185.48

In [0]:
exchanges.get('na'), exchanges['na']

('미국', '미국')

In [0]:
print(exchanges.get('na1'))
# 키값이 동적으로 세팅된다면 get이 더 안정적이다 
print(exchanges['na1'])   # 딕셔너리 부를때 없는 값을 인덱스를 이용해서 부르려면 오류남. 위 방식처럼 함수로 불러야함.

None

KeyError: 'na1'

In [0]:
# 아니면 방어코드 
# 딕셔너리 키값 체크하는 ㅏㅇ식 
'na1' in exchanges, 'na' in exchanges # 딕셔너리 안에 저 na1이라는 키가 있니?

(False, True)

In [0]:
if 'na1' in exchanges : 
    print(exchanges['na1'])

In [0]:
# 기본값 주면서 추가하기
exchanges.setdefault('aa', '10')
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 'aa': '10'}

### 튜플

- ()
- 순서(인데스)가 존재한다, 값 중복 ok,
- 추가, 수정, 삭제불가, Read-Only, **단순히 값을 묶는다**                 
- 함수가 여러개의 값을 리턴할때 주로 사용

In [0]:
# 정적 생성
tu = () 
tu, type(tu), len(tu)

((), tuple, 0)

In [0]:
# 동적 생성
tu = tuple() 
tu, type(tu), len(tu)

((), tuple, 0)

In [0]:
# 구성원이 1개라면 
tu = (1)
type(tu)

int

In [0]:
# 반드시 콤마 한개를 추가해야만 튜플로 인식한다
tu = (1, )
type(tu)

tuple

In [0]:
tu = (1, 2, 3)
tu, type(tu), len(tu)

((1, 2, 3), tuple, 3)

In [0]:
# 튜플의 구성원을 분해해서 변수에 차례대로 설정한다 => 구조 분해(자바스크립트적 표현)
# 리스트도 동일하다 
a, b, c = tu 
b

2

In [0]:
# 개수가 반드시 맞아야 한다
a, b = tu

ValueError: too many values to unpack (expected 2)

In [0]:
# 개수대로 받는데, 딱히 쓰지는 않을때 변수명은 => _ (언더바)
a, b, _ = tu
_

3

In [0]:
# 인덱싱, 슬라이싱 모두 가능
tu[0], tu[1:-1]

(1, (2,))

In [0]:
# 필요한 만큼만 받는다
a,b = tu[:-1]
a, b

(1, 2)

In [0]:
# 함수의 리턴값으로 가장 많이 사용
def a():
    return 1, 2, 3

In [0]:
a()

(1, 2, 3)

### 집합

- 집합
- {} : 키가 없다, 값만 있다, 순서 없다
- 중복제거, 중간에 과정으로 많이 사용

In [0]:
a = list('helloworld')
a

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [0]:
# 중복제거후 리스트화 -> 개수가 줄어들었다
a = list( set('helloworld') )
a, len(a)

(['r', 'w', 'd', 'o', 'h', 'e', 'l'], 7)

In [0]:
a.sort()
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [0]:
# 합집합, 교집합, 차집합
a = set( [4,7,4,5,2,10,2,5,5,6,8,9,8,0,3,2])
b = set( [10,80,2,3,4,6,9,5,3,97,34])
a, b

({0, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {2, 3, 4, 5, 6, 9, 10, 34, 80, 97})

In [0]:
# 합집합
a.union(b)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 34, 80, 97}

In [0]:
#교집합
a.intersection(b)

{2, 3, 4, 5, 6, 9, 10}

In [0]:
#차집합 a-b or b-a 빼는 방향에 따라 다르다
a.difference(b), b.difference(a)

({0, 7, 8}, {34, 80, 97})